@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-dark text-white antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
